@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

h3 {
	position: absolute;
}

h1 {
	position: absolute;
	margin-top: -90px;
	color: #0a2463;
}

body {
	position: relative;
	margin-top: 150px;
	margin-left: 300px;

	height: 1000px;

	background-size: cover;
	background: linear-gradient(
		335deg,
		rgba(239, 239, 249, 1) 38%,
		rgba(160, 208, 243, 1) 83%,
		rgba(144, 226, 243, 1) 100%
	);
	font-family: "Montserrat", sans-serif;
}

.infoPanelHead {
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
}

#b0 {
	position: absolute;
	height: auto;
	width: auto;
	margin-top: 80px;
	margin-left: 115px;
}

button {
	background-color: transparent;
	padding: 10px 22px;
	text-align: center;
	font-weight: bold;
	color: #373a40;
	border: 2px solid #1e6774;
	border-radius: 5px;
}

.button_slide {
	color: #373a40;
	border: 2px solid #1e6774;
	border-radius: 7px;
	padding: 10px 22px;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	/* font-size: 14px; */
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #136a6b;
	-webkit-transition: ease-out 0.5s;
	-moz-transition: ease-out 0.5s;
	transition: ease-out 1s;
}

.slide_right:hover {
	color: #fff;
	box-shadow: inset 400px 0 0 0 #134d4e;
}

#b1 {
	position: absolute;
	height: auto;
	width: auto;
	margin-top: 135px;
	margin-left: 115px;
}

img {
	position: absolute;
	margin-top: 80px;
	margin-left: 235px;
	width: 77px;
	transition-duration: 2s;
}

img#p0 {
	width: 38px;
}

img#p1 {
	width: 38px;
	margin-top: 135px;
}

#main {
	margin-top: 50px;
	margin-left: 200px;
}

#reg {
	position: absolute;
	margin-top: 450px;
	margin-left: 10px;
}

#loc {
	position: absolute;
	margin-top: 450px;
	margin-left: 180px;
}

#box1,
#box2 {
	position: absolute;
	border-color: #116880;
	border-style: solid;
	border-width: 3.5px;
	height: 300px;
	width: 100px;
	margin-top: 50px;
	border-radius: 10px;
}

#entry,
#exit {
	margin-top: 50px;
	position: absolute;
	border-color: #116880;
	border-style: solid;
	border-width: 3.5px;
	height: 300px;
	width: 100px;
	border-radius: 10px;
}

#entry {
	margin-left: 170px;
}

#exit {
	margin-left: 510px;
}

#box2 {
	border-color: #2ecc40;
	margin-left: 340px;
}

/* #sem {
	
	
} */

#incre {
	margin-left: -10px;
	margin-top: 116px;
}

.infoPanel {
	margin-left: -275px;
}

.base-level {
	position: relative;
	z-index: 1;
}
.second-level {
	margin-top: auto;
	position: relative;
	width: 100%;
	z-index: 5;
}

.first-level {
	z-index: 2;
}
@keyframes blink {
	50% {
		border-color: rgb(216, 198, 198);
	}
}

.alerts-border {
	animation: blink 1s;
	animation-iteration-count: infinite;
}

.pulse:hover,
.pulse:focus {
	animation: pulse 1s;
	box-shadow: 0 0 0 2em rgba(#fff, 0);
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 var(--hover);
	}
}

/* button {
	background-color: transparent;
	padding: 10px 22px;
	text-align: center;
	font-weight: bold;
	color: #373a40;
	border: 2px solid #1e6774;
	border-radius: 5px;
} */
.addingProcess {
	padding: 10px 22px;
	text-align: center;
	font-weight: bold;
	transform: translate(-50%, -50%);
	color: #373a40;
	/* text-decoration: none; */
	letter-spacing: 2px;
	transition: 0.5s;
	border: 2px solid #1e6774;
	border-radius: 5px;
	outline: none;
}
.addingProcess:hover {
	background: #20404e;
	color: #fff;
}
.addingProcess:before {
	content: "";
	position: absolute;
	top: -0.7px;
	left: -1px;
	width: 100%;
	height: 100%;
	background: transparent;
	border: 1px solid #1e6774;
}
.addingProcess:hover:before {
	transform: scale(1.2, 1.4);
	opacity: 0;
	transition: 0.5s;
}

/* tool tip */
.tooltip {
	position: absolute;
	display: inline-block;
	/* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 1s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	/* width: 100px; */
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* for navbar */
